/*Custom*/
.hid,html.js #m1{
display:none;}
html.js #m0 #m1 #m2,#m0 #m1 li{
display:block;}
#m0 li{
display:inline-block}
#m1,#user{
position:absolute;}
#all, .flash{
position:relative;}
#m0 #m1 #m2{
position:static;}
#m1{
top:0px;
left:0px;
z-index:15;}
#user{
top:0px;
right:0px;
z-index:25;}
.flash{
z-index:1000;}
#all{
max-width:1400px;
min-width:800px;}
#all,#head,#all img,#main,#m0 #m1 li,#m0 #m1 #m2{
width:100%;}
#head,#all img,#head h1{
height:auto;}
#m0 #m1 #m2 li{
width:95%}
#head h1{
width:36%;}
#m0{
width:60%;}
#m1,#m0 li{
width:20%;}
#text{
width:60%}
#m0 li, menu{
margin:0;}
body{
margin: 0 1%;}
#all,#all img,#head h1,menu,#text{
margin: 0 auto;}
#text div :last-child{
margin-bottom:0;}
#text div :first-child{
margin-top:0;}
#m0 #m1 #m2 li{
margin-left:5%;}
div.flash{
margin:1em;margin:1rem;
}
#head h1,menu{
padding:0;}
#text div, #text div.flash{
padding:1em;padding:1rem}
menu li div{
padding: 0.3em 0;padding-top:0.3rem;padding-bottom:0.3rem}
#user{
padding:0.3em;padding:0.3rem;}
#m0 #m1 li div{
padding-left:5%;}
#m0 #m1 #m2 #m3 li div{
padding-left:2.5%}
#all img,img a{
border:none;}
div#all,menu a,#m0 #m1 #m2 li,#m0 #m1 #m2 .act{
color:#494f52;}
#m0,#m1{
background-color:#f4f5f6;}
#m0 li div.act,#m1 li div.act,#m2,#user,#user a{
color:#f4f5f6;
background-color:#494f52;}
#m0 #m1 #m2 li,#m0 #m1 #m2 .act{
background-color:#fff;}
#all{
line-height:160%;
font-family: Helvetica, Arial, sans-serif;}
div#foot{
font-size:0.8em;font-size:0.8rem}
#all img{
vertical-align:middle;}
#m0 li div,#foot,div.flash,h1{
text-align:center;}
#m0 #m1 li div{
text-align:left;}
#text{
text-align:justify;}
#m0{
list-style:none;}
#m0 a{
text-decoration:none;}
#m0 #m1 #m2 .act{
font-weight: bold;}
#m0 #m1 #m2 #m3 div:before{
content: "- ";}

/*Nette*/
div.flash{
color: black;
background: #FFF9D7;
border: 1px solid #E2C822;}
a[href^="#error:"]{
background: red;
color: white;}
form th, form td{
vertical-align: top;
font-weight: normal;}
form th{
text-align: right;}
form .required label{
font-weight: bold;}
form .error{
color: #D00;
font-weight: bold;}
html.js .jshidden{
display: none;}

/*.act{
font-weight: bold;}*/