#all{
	max-width: 1800px;
}
#text{
	width: 100%;
}
#ah1{
	position: absolute;
	top: 0px;
	left: 0px;
	visibility: hidden;
	opacity: 0;
	display: none;
	background-color: #f4ea66;
	border: 2px solid #7d401e;
	color: #000;
	padding: 0.3em; padding: 0.3rem;
	z-index: 1000;
	cursor: pointer;
}
#ah1 div{
	font-size: 0.8em;
	text-align: right;
	text-decoration: underline;
}

strong.ah1{
	display: inline-block;
}
strong.ah1 span{
	font-weight: normal;
	font-style: italic;
}
strong.ah1 span.ah1, div.ah1 span{
	font-weight: bold;
	font-style: normal;
}
div.ah1 span.ah1{
	font-weight: normal;
}