#all{
	max-width: 1800px;
}
#text{
	width: 100%;
}
#text div{
	padding: 1rem 0;
}
#text div.text{
width:60%;
margin: 0 auto;
padding: 0;}
#text div.text div{
padding: 0 1rem;}
#ah1{
	position: absolute;
	top: 0px;
	left: 0px;
	visibility: hidden;
	opacity: 0;
	display: none;
	background-color: #f4ea66;
	border: 2px solid #7d401e;
	color: #000;
	padding: 0.3em; padding: 0.3rem;
	z-index: 1000;
	cursor: move;
}
#ah1 div{
	font-size: 0.8em;
	text-align: right;
	text-decoration: underline;
	cursor: pointer;
}

strong.ah1{
	display: inline-block;
}
strong.ah1 span{
	font-weight: normal;
	font-style: italic;
}
strong.ah1 span.ah1, div.ah1 span{
	font-weight: bold;
	font-style: normal;
}
div.ah1 span.ah1{
	font-weight: normal;
}

#text #hra{
	text-align: left;
	width: 1500px;
}
#text #hra ul{
	min-width: 50px;
	min-height: 20px;
	padding: 0.2em; padding: 0.2rem;
	background-color: #7b7b7b;
	display: inline-block;
	margin: 0 0.5em;margin: 0 0.5rem;
	margin-left: 2em;margin-left: 2rem;
	vertical-align: middle;
	list-style-type: none;
}
#text #hra ul small{
	font-size: 0.8em;
}
#text #hra ul li{
	margin: 0.5em; margin: 0.5rem;
	padding: 0.5em; padding: 0.5rem;
	background-color: #faf1c2;
	font-weight: bold;}
#text #hra ul#nabidka li{
	display: inline-block;
}
#text #hra ul#nabidka {
	height: 14em; height: 14rem;
	overflow-y: scroll;
	display: block;
}
#text #hra ul#nabidka li.hra-place, #text #hra ul#piskoviste li.hra-place { height: 0.3em; line-height: 0.3em; background-color: #39e31c;}